@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}
/* Home page */
.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.products {
    display: flex;
    justify-content: center;
    background-color: beige;
}
.product {
    width: 300px;
    border: 2px solid greenyellow;
    margin: 10px;
    padding: 10px;
    background-color: aliceblue;
}

.added {
    color: white;
    background-color: red;
}

/* Cart page */

#table-container {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

thead {
    background-color: antiquewhite;
}

td {
    padding: 5px;
}

tr:nth-child(even) {
    background-color: azure;
}

.btn {
    padding: 5px 10px;
    margin: 5px;
    border: none;
    color: white;
    cursor: pointer;

    text-decoration: none;
    display: inline-block;
}

.btn-success {
    background-color: green;
}

.btn-primary {
    background-color: blue;
}